*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

venv
app.db
aucr.log*
/config.yml
.idea/
aucr.db
logs/
/app/plugins/cases/
/deployment/apache2/certs/README
/deployment/apache2/certs/privkey.pem
/deployment/apache2/certs/fullchain.pem
/deployment/apache2/certs/cert.pem
/deployment/nginx/certs/
deployment/apache2/certs/
mysql/
config-file.env
es-data/
travis.log
/app/plugins/Horatio/*
/app/plugins/Sermo/*
/app/plugins/openstack/*
/app/plugins/spartan/*
.pytest_cache/
Would skip repository app/plugins/Horatio/
Would skip repository app/plugins/Sermo/
notepad.py
serve.py
/app/plugins/yara/
