PyYAML
sqlalchemy==1.3.23
alembic
asn1crypto
Babel
bcrypt
blinker
certifi
cffi
chardet
click
coverage
cryptography==3.3.2
dominate
elasticsearch
Flask==1.1.4
Flask-Babel
Flask-HTTPAuth
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-WTF
WTForm
Flask-Table
guess-language-spirit
idna
itsdangerous
Jinja2
Mako
MarkupSafe
passlib
pyasn1
pycparser
PyJWT
python-dateutil
python-dotenv
python-editor
pytz
requests
rsa
six
SQLAlchemy-Utils
ujson
urllib3
visitor
Werkzeug==1.0.1
pyqrcode
flask-bcrypt
yamlinfo
udatetime
greenlet
eventlet
pika
pyotp
fleep
DataParserLib
psycopg2-binary
email_validator
uwsgi
